include LICENSE 
recursive-include tests *
recursive-exclude tests *.pyc
recursive-exclude tests *.pyc
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
prune docs/_themes/.git
